.booking-form {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  align-items: center;
  max-width: 560px;
  padding: 12px 16px;
  gap: 16px;
  padding: 12px 16px;
  border-radius: 16px;
  border: 1px solid rgba(144, 144, 144, 0.3);
  background: #f1f0f056;
}
.booking-form__label {
  padding: 1px;
}
.booking-form__submit {
  padding: 16px;

  gap: 10px;
  border-radius: 10px;
  background: #35aff4;
  background-image: url("../../img/icons/search.svg");
  background-size: 19px 19px;
  background-repeat: no-repeat;
  background-position: center center;
}
